@font-face {
  font-family: "Urbanist", sans-serif;
  src: url();
}

@font-face {
  font-family: "Inter", sans-serif;
  src: url();
}

* {
  padding: 0;
  margin: 0;
  color: white;
  font-family: "Urbanist", sans-serif;
}

body {
  background-color: black;
}

img {
  background: none;
}

h1 {
  font-size: 80px;
  font-weight: 600;
}

h2 {
  font-size: 56px;
  font-weight: 600;
}

h1,
h2 {
  background: linear-gradient(to right, #4e4be4, #8c54ef, #e862fe 60%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  text-align: center;
}

h3 {
  font-family: "Inter", sans-serif;
  font-size: 56px;
  font-weight: 700;
  background-color: transparent;
}

h4 {
  font-size: 42px;
  font-weight: 600;
  background-color: transparent;
}

h5 {
  font-size: 24px;
  font-weight: 400;
  font-style: normal;
  background-color: transparent;
}

p {
  font-size: 16px;
  font-weight: 400;
  background-color: transparent;
}

.paragraph1 {
  font-size: 32px;
  text-align: center;
  font-weight: 500;
  background-color: transparent;
}

.paragraph2 {
  font-size: 22px;
  font-weight: 400;
  background-color: transparent;
}
.paragraph3 {
  font-size: 18px;
  font-weight: 300;
  background-color: transparent;
}

.clr_txt {
  background: linear-gradient(to right, #4e4be4, #8c54ef, #e862fe 60%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

/* nav_component */

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 32px;
}

.logo {
  background: linear-gradient(to right, #4e4be4, #8c54ef, #e862fe 70%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-size: 25px;
  font-weight: 600;
}

.menu {
  display: flex;
  gap: 32px;
  align-items: center;
  justify-content: space-between;
}

.btn {
  background-color: #4f4ce5;
  font-size: 12px;
  font-weight: 500;
}

button {
  background-color: #4f4ce5;
  width: 122;
  height: 47;
  border-radius: 50px;
  padding: 15px 20px;
  border: none;
}

a {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
}

/* section_header */

.section_header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 80px 32px;
  text-align: center;
  gap: 24px;
  background-image: url(/assets/background_halo.png);
  background-position: center;
  background-size: 100% 60%;
  background-repeat: no-repeat;
}

.header_text1 {
  font-size: 24px;
  color: #ff3bff;
  font-weight: 700;
  text-align: center;
}

.section_header_pic {
  display: flex;
  justify-content: center;
  padding-top: 64px;
  background: none;
}

/* section_benefits PUUDU:
stack elemendi taust */

.benefits {
  padding: 0px 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.benefits_circles {
  display: flex;
  padding: 80px 96px;
  background: url(/assets/circles.png) right -40px top 110px no-repeat,
    url(/assets/circles.png) left -40px bottom -50px no-repeat;
  background-size: 280px 290px, 280px 290px;
}

.benefits_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 150px;
  background: none;
}

.benefits_list_wrapper1 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 80px;
  background-image: url(/assets/Frame\ 1.png);
  background-position: 350px;
  background-repeat: no-repeat;
}

.benefits_list_wrapper2 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 80px;
  background-image: url(/assets/Frame\ 1other_way.png);
  background-position: 630px;
  background-repeat: no-repeat;
}

.benefits_content {
  width: 600px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  background: none;
}

.benefits_info {
  width: 600px;
  padding: 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 32px;
  background: #181924;
  border-radius: 16px;
}

.benefits_item {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  background: #181924;
}

.benefits_info_content {
  width: 412px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  background: transparent;
}

hr {
  opacity: 0.12;
}

h {
  width: 472px;
  height: 1px;
  opacity: 0.12;
}

.component_heading,
.stack1,
stack2 {
  background: none;
}

/* section cards PUUDU: 
 alumine kast pole sama lai kui kaks ülemist*/

.cards {
  padding: 80px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cards_container {
  width: 1280px;
  padding: 24px;
  display: flex;
  flex-direction: column;
}

.cards_header {
  padding: 40px 0px;
}

.grid2x2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 24px;
  row-gap: 40px;
  justify-items: center;
  padding: 32px;
}

.grid_item1_box,
.grid_item2_box {
  display: flex;
  flex-direction: column;
  padding: 24px;
}

.grid_item1_box {
  justify-self: end;
}

.grid_item2_box {
  justify-self: start;
}

.grid_item1 {
  width: 370px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 60px 32px;
  gap: 120px;
  background-color: #181924;
  border-radius: 40px;
  background-image: url(/assets/circles.png);
  background-size: 440px 440px;
  background-repeat: no-repeat;
  background-position: right -200px bottom -220px;
}

.grid_item2 {
  width: 370px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 60px 32px;
  gap: 120px;
  background-color: #181924;
  border-radius: 40px;
  background-image: url(/assets/circles.png);
  background-size: 440px 440px;
  background-repeat: no-repeat;
  background-position: right -200px bottom -220px;
}

.grid_item3_box {
  grid-column: 1 / 3;
  justify-self: center;
}

.grid_item3 {
  width: 824px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 60px 32px;
  gap: 120px;
  background-color: #181924;
  border-radius: 40px;
  background-image: url(/assets/circles.png);
  background-size: 440px 440px;
  background-repeat: no-repeat;
  background-position: right -200px bottom -220px;
}

.grid_item_header {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: #181924;
}

.btn2 {
  background-color: #4f4ce5;
  font-size: 16px;
  font-weight: 700;
  padding: 15px 30px;
  border-radius: 30px;
}

/* section info */

.info {
  padding: 80px 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(/assets/background_halo.png);
  background-position: center;
  background-size: 100% 60%;
  background-repeat: no-repeat;
}

.info_header > p {
  line-height: 54px;
}

.info_component {
  display: flex;
  padding: 64px 0px;
  gap: 80px;
  background: none;
}

.info_graph {
  height: 480px;
  width: 600px;
}

.info_content {
  width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: none;
}

#features {
  font-size: 18px;
  font-weight: 500;
  color: #4a3aff;
}

.textbox {
  display: flex;
  flex-direction: column;
  width: 404px;
  text-align: left;
  gap: 24px;
  background: none;
}

.textbox > h4 {
  letter-spacing: -1.26px;
}

/* section-testimonials 
 KÕIGILE ERALDI BACKGROUND? */

.testimonial {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 32px;
}

.testimonial_circles {
  display: flex;
  padding: 0 64px;
  background: url(/assets/circles.png) right -61px top 58px no-repeat,
    url(/assets/circles.png) left -61px bottom 3px no-repeat;
  background-size: 280px 290px, 280px 290px;
}

.testimonial_container {
  width: 1280px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px 0;
  gap: 64px;
  background: none;
}

.testimonial_content {
  display: flex;
  gap: 32px;
  padding-bottom: 80px;
  background: none;
}

.testimonial_card {
  display: flex;
  flex-direction: column;
  padding: 32px;
  gap: 64px;
  background-color: #181924;
  border-radius: 30px;
}

.author {
  display: flex;
  gap: 16px;
  justify-content: center;
  align-items: center;
  background-color: #181924;
}

.author_name > p {
  font-size: 14px;
  font-weight: 700;
  background-color: #181924;
}

.author_text > p {
  font-size: 12px;
  font-weight: 400;
  background-color: #181924;
}

.testimonial_text > .paragraph3 {
  background-color: #181924;
}

.stars {
  background-color: #181924;
}

.author_img {
  background: none;
}

/* section_add */

.add {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 80px 32px;
}

.add_container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 80px;
}

.add_content {
  width: 600px;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 24px;
}

.add_content > .no_col {
  text-align: start;
  color: white;
}

/* section_pricing */

.pricing {
  display: flex;
  justify-content: center;
  padding: 0 32px;
  background-image: url(/assets/background_halo.png);
  background-position: center;
  background-size: 100% 60%;
  background-repeat: no-repeat;
}

.pricing_container {
  display: flex;
  flex-direction: column;
  padding: 80px 0;
}

.pricing_heading {
  padding: 40px 0;
}

.pricing_heading > h2 {
  font-size: 54px;
  font-weight: 700;
}

.pricing_component {
  display: flex;
  padding: 40px 0;
  gap: 64px;
}

.pricing_card_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 48px 32px;
  gap: 24px;
  background-color: #181924;
  border-radius: 32px;
}

.pricing_card_header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  background-color: #181924;
}

.pricing_card_img {
  width: 160px;
  height: 160px;
  background-color: #181924;
}

.pricing_card_heading {
  font-size: 40px;
  font-weight: 600;
  background-color: #181924;
}

.price {
  font-size: 24px;
  font-weight: 700;
}

.line2 {
  width: auto;
  height: 1px;
}

.pricing_card_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 24px;
  gap: 16px;
  background-color: #181924;
}

.pricing_card_item {
  display: flex;
  gap: 8px;
  align-items: center;
  background-color: #181924;
}

.pricing_card_icon {
  background: none;
}

.pricing_card_text > p {
  font-size: 14px;
  background-color: #181924;
}

.btn3 {
  background-color: #4f4ce5;
  font-size: 12px;
  font-weight: bold;
  padding: 16px 24px;
  border-radius: 50px;
}

/* section_last */

.last {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 120px 32px;
  background-image: url(/assets/section_last.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.last_header {
  background: none;
}

.last_header > h3 {
  font-family: "Urbanist", sans-serif;
  font-size: 54px;
}

.last_text {
  background: none;
}

.last_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  text-align: center;
  background: none;
}

/* footer */

.footer_container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 80px 32px;
  gap: 80px;
}

.footer_component {
  display: flex;
  flex-direction: column;
  gap: 32px;
  justify-content: space-around;
}
.footer_top {
  display: flex;
  gap: 40px;
  padding-bottom: 32px;
  justify-content: space-evenly;
}

.footer_logo {
  display: flex;
  flex-direction: column;
  justify-self: left;
  gap: 24px;
}

.footer_nav {
  display: flex;
  gap: 32px;
}
.footer_nav_heading {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 700;
}
.footer_nav_column {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.footer_nav_links {
  display: flex;
  flex-direction: column;
  padding: 8px 0;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
}
.footer_bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  padding: 24px 24px;
  border-top: 1px solid;
  border-top-color: #ffffff;
}

/* section end */

.end {
  display: flex;
  justify-content: center;
  font-size: 48px;
  padding-bottom: 40px;
}

.end_text > h4 {
  font-size: 48px;
  font-weight: 500;
}
